Source: sysstat
Section: admin
Priority: optional
Maintainer: Robert Luberda <robert@debian.org>
Build-Depends: debhelper (>= 4.1.25), gettext
Build-Depends-Indep: debhelper (>= 4.1.25) 
Standards-Version: 3.6.0

Package: sysstat
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: cron
Suggests: isag
Conflicts: atsar (<< 1.5-3)
Description: sar, iostat and mpstat - system performance tools for Linux
 The sysstat package contains the sar, mpstat and iostat
 commands for Linux.
 .
 The sar command collects and reports system activity
 information. The iostat command reports CPU utilization
 and I/O statistics for disks. The mpstat command reports
 global and per-processor statistics.
 The statistics reported by sar concern I/O transfer rates,
 paging activity, process-related activities, interrupts,
 network activity, memory and swap space utilization, CPU
 utilization, kernel activities and TTY statistics, among
 others. Both UP and SMP machines are fully supported.

Package: isag
Architecture: all
Depends: sysstat (>= ${Source-Version}), tk8.3|wish, gnuplot, ${misc:Depends}
Description: Interactive System Activity Grapher for sysstat
 This package includes the isag command, which graphically displays the 
 system activity data stored in a binary data produced by a sar command
 from a sysstat package.
