Source: sysstat
Section: admin
Priority: optional
Maintainer: Robert Luberda <robert@debian.org>
Build-Depends: debhelper (>= 5.0.7), gettext
Standards-Version: 3.7.3

Package: sysstat
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ucf (>= 2.003), lsb-base (>= 3.0-6), bzip2
Recommends: cron
Suggests: isag
Conflicts: atsar (<< 1.5-3)
Description: sar, iostat and mpstat - system performance tools for Linux
 The sysstat package contains the following system performance tools:
  * sar - collects and reports system activity information;
  * iostat - reports CPU utilization and I/O statistics for disks;
  * mpstat - reports global and per-processor statistics;
  * pidstat - reports statistics for Linux tasks (processes);
  * sadf - displays data collected by sar in various formats.
 .
 The statistics reported by sar concern I/O transfer rates,
 paging activity, process-related activities, interrupts,
 network activity, memory and swap space utilization, CPU
 utilization, kernel activities and TTY statistics, among
 others. Both UP and SMP machines are fully supported.
Homepage: http://pagesperso-orange.fr/sebastien.godard/

Package: isag
Architecture: all
Depends: sysstat (>= ${source:Version}), tk8.3|wish, gnuplot-x11, ${misc:Depends}
Suggests: rcs
Description: Interactive System Activity Grapher for sysstat
 This package includes the isag command, which graphically displays the 
 system activity data stored in a binary data produced by a sar command
 from a sysstat package.
Homepage: http://pagesperso-orange.fr/sebastien.godard/
