#!/bin/sh

set -e

S_UPSTR_VERSION="4.1.5"
S_VERSION="${S_UPSTR_VERSION}-1"
	
. /usr/share/debconf/confmodule

db_version 2.0 || true

if [ "$1" = "configure" ] ; then
  if dpkg --compare-versions "$2" lt-nl "$S_VERSION"; then

        db_beginblock || true

	db_subst sysstat/notice s_version "$S_UPSTR_VERSION"  || true
	db_input high sysstat/notice || true 
	
	db_input high sysstat/remove_files || true

	db_endblock || true
	
	db_go || true

   	db_stop || true
   fi
fi

