#!/bin/sh
# vim:ts=4:et

set -e

S_UPSTR_VERSION="5.1.4"
S_VERSION="${S_UPSTR_VERSION}-1"
ENABLED=false
DEFAULT=/etc/default/sysstat
    
. /usr/share/debconf/confmodule

db_version 2.0 || true

if [ "$1" = "configure" ] ; then
    if dpkg --compare-versions "$2" lt-nl "$S_VERSION"; then

        db_beginblock || true

        db_subst sysstat/notice s_version "$S_UPSTR_VERSION"  || true
        db_input high sysstat/notice || true
    
        db_input high sysstat/remove_files || true

        db_endblock || true
    
        db_go || true
    fi
fi


# read our default file
[ -r "$DEFAULT" ] && . "$DEFAULT"
[ "$ENABLED" = "true" ] || [ "$ENABLED" = "false" ] || ENABLED=false

# set enabled to true if we are upgrading from pre-5.0.3 version
[ "$1" = "configure" ] && [ ! -e "$default" ] && \
    dpkg --compare-versions "$2" lt-nl "5.0.3" && ENABLED="true"

db_set sysstat/enable "$ENABLED" || true

db_input low sysstat/enable  || true
db_go || true

db_stop || true
